.subscribe-btn{
  border-radius: 10em;
  color:white
}

.form-elegant .modal-header {
    border-bottom: none;
}

.navbar.scrolling-navbar .navbar-nav>li{
    margin-left: 20px;
}

main{
    padding-top: 50px;
    padding-bottom: 50px;
}

.rounded.active{
    background: rgba(255,255,255,0.2);
}

/* ------------------------------------------------------------------------------
Page Loader
-------------------------------------------------------------------------------*/

.page-loader{
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: white;
z-index: 999999;
}
.loader{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}
.loader img{
width: 150px;
display: block;
margin:auto;
margin-bottom: 15px;
}

.text-center-padding{
  padding:20%
}
@media screen and (max-width: 992px) {
    .navbar-nav{
        display: block;
    }
    .navbar.scrolling-navbar .navbar-nav>li{
        text-align: center;
        display: block;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .text-center{
      padding:0%
    }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 575px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 320px) {

}
